
.header__title--display
    display: none
.header__icon--inactive
    display: none
.header__icon--active
    display: block
@media (min-width: 48rem)
    .header__title--display
        display: block
    .header__icon--active
        display: none
