
@import './global.sass'

* 
  margin: 0
  padding: 0
  box-sizing: border-box

body
    background-color: $white
    font-family: $font-family

a
    text-decoration: none
    color:black

p, h2
    margin: 0px !important

main
    height: 100vh
    width: 100vw

section
    height: 85%

h2
    font-size: $title

.app-container
    @include displayFlex(column, center, center)

.header
    display: flex
    align-items: center
    @include spaceBlock(100%)
    height: 3.25rem
    font-size: $title
    background-color: $black
    color: $white
    
.card
    height: 69px
    padding: 1.2rem
    @include border(0px, 1px, 1px, 1px )
    @include displayFlex(column, center, start)
    > h2
        font-size: $title
        color: $title-text
    > p
        font-size: $subtitle
        color: $subtitle-text
.detail
    padding: 1rem 1rem
    display: block
    @include spaceBlock(100%)
    > span
        display: flex
        justify-content: space-between
        height: 49px
        padding: 1rem 0rem
        font-size: $title
        color: $subtitle-text
        @include border(0px, 0px, 1px, 0px)
    p
        color: $title-text
        font-size: $title

.error
    color: red
    @include displayFlex(column, center, center)
//scrollbar
.custombar1 
    overflow-y: scroll
    height: 700px    

.custombar1::-webkit-scroll,
.custombar1::-webkit-scrollbar 
    width: 0.5025rem
    background-color: rgba(245, 245, 245, 1)

.custombar1::-webkit-scrollbar-thumb 
    border-radius: 0.5rem
    background-color: rgba(196, 196, 196, 1)