@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

$subtitle-text: #828282
$title-text: #333333
$black: #121212
$white: #ffffff
$error: #EC5757
$border: #d8d4d4

/** font size & font weight **/

$title: 1.06rem
$weight-title: 700

$subtitle: 0.87rem
$weight-title: 400


/** font-family **/
$font-family: 'Roboto', sans-serif

  
@mixin spaceBlock($width)
  width: $width

@mixin displayFlex ($direction, $justify, $alignItems) 
  display: flex
  flex-direction: $direction
  justify-content: $justify
  align-items: $alignItems

@mixin border($bt,$br,$bb,$bl)
  border-color: $border
  border-style: solid
  border-width: $bt $br $bb $bl